@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    text-align: center;

    overflow: hidden;
}

body h1{
    font-size: 3rem;
    margin: 0 0 3rem 0;
}
body p{
    margin: 5rem 0;
    width: 75%;

    font-size: 1.5rem;
}